<form [formGroup]="editForm" (ngSubmit)="saveImage(editForm.value)" class="ui form">

  <h1>Edit image</h1>

  <div class="seven wide field">
    <label>Image</label>
    <select [(ngModel)]="selected" class="ui fluid search dropdown" formControlName="id">
      <option *ngFor="let im of imagesList | async" [ngValue]="im">{{im._title}}</option>
    </select>
  </div>
  <div class="ui small info message validationMessage" *ngIf="!editForm.controls['id'].valid ">You must select an image.</div>
  <br>

  <!-- Toon de andere velden enkel indien een afbeelding is geselecteerd -->
  <div *ngIf="selected._title.length > 0">

    <div class="five wide field">
      <label>Title</label>
      <input type="text" formControlName="title" placeholder="title" value="{{selected._title}}">
    </div>
    <div class="ui small info message validationMessage" *ngIf="!editForm.controls['title'].valid ">A title is required.</div>

    <div class="three wide field">
      <label>Gallery</label>
      <select class="ui fluid search dropdown" formControlName="gallery" value="{{selected._gallery}}">
        <option value="">Select Gallery:</option>
        <option value="1100d">1100d</option>
        <option value="1000d">1000d</option>
        <option value="d70s">d70s</option>
      </select>
    </div>
    <div class="ui small info message validationMessage" *ngIf="!editForm.controls['gallery'].valid ">Gallery is required.</div>

    <div class="ten wide field">
      <label>Description</label>
      <textarea formControlName="description" rows="2" value="{{selected._description}}"></textarea>
    </div>
    <div class="ui small info message validationMessage" *ngIf="!editForm.controls['description'].valid ">A description is required.</div>

    <div class="seven wide field">
      <label>URL</label>
      <input type="text" formControlName="url" placeholder="url" value="{{selected._url}}">
    </div>
    <div class="ui small info message validationMessage" *ngIf="!editForm.controls['url'].valid ">An image url is required.</div>
    <br>

    <button class="ui button" type="submit" [disabled]="!editForm.valid">Save</button>
  </div>

</form>
