/* You can add global styles to this file, and also import other style files */

@import './3rdParty/semantic.min.css';
@import './assets/lytebox/lytebox.css';
body {
  background-image: url("./assets/images/backgroundastro.png");
}

.siteTitel {
  text-align: center;
  padding: 1em;
}

.mainDiv {
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.validationMessage {
  display: inline-block;
}

.headerLink {
  text-align: right;
  padding: 0.5em;
  padding-right: 1em;
  font-size: 1.25em;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 3px;
}

.center-div-large {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 85%;
  background-color: white;
  border-radius: 3px;
}
