<form [formGroup]="deleteForm" (ngSubmit)="deleteImage(deleteForm.value)" class="ui form">

    <h1>Delete image</h1>

    <div class="seven wide field">
        <label>Image</label>
        <select class="ui fluid search dropdown" formControlName="id">
            <option *ngFor="let im of imagesList | async" value="{{im._id}}">{{im._title}}</option>
        </select>
    </div>
    <div class="ui small info message validationMessage" *ngIf="!deleteForm.controls['id'].valid && deleteForm.controls['id'].touched">You must select an image.</div>
    <br>

    <button class="ui button" type="submit" [disabled]="!deleteForm.valid">Delete</button>

</form>