h1 {
  text-align: center;
  padding: 0.25em;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 3px;
}
