<form [formGroup]="myForm" (ngSubmit)="registerUser(myForm.value)" class="ui form">

  <h1>Register</h1>

  <div class="five wide field">
    <label>Username</label>
    <input type="text" formControlName="username" placeholder="username">
  </div>
  <div class="ui small info message validationMessage" *ngIf="!myForm.controls['username'].valid && myForm.controls['username'].touched">A username is required.</div>

  <div class="seven wide field">
    <label>Password</label>
    <input type="password" formControlName="password" placeholder="password">
  </div>
  <div class="ui small info message validationMessage" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">A password is required and must be at least 8 characters long.</div>
  <br>

  <button class="ui button" type="submit" [disabled]="!myForm.valid">Register</button>

</form>
