<app-navigation (menuItemClicked)="receive($event)"></app-navigation>
<div class="mainDiv">
  <h2>{{title}}</h2>

  <div class="ui grid">
    <div class="four wide column" *ngFor="let im of visibleImages | async">
      <figure>
        <a href="{{im._url}}" class="lytebox lytetip" data-tip="Click to enlarge" data-title="{{im._description}}" data-lyte-options="showPrint:false tipStyle:classic changeTipCursor:false">
          <img class="ui medium rounded image custom_image" src="{{im._url}}" alt="{{im._title}}" />
        </a>
        <figcaption>
          {{im._title}}
        </figcaption>
      </figure>
    </div>
  </div>

</div>
