h2 {
  color: white;
}

figcaption {
  color: white;
  text-align: center;
}

.custom_image {
  display: inline-block;
  margin: 6px;
  border: 4px solid white;
  box-shadow: rgb(37, 37, 37) 1px 1px 5px 1px;
}
